@charset "UTF-8";
/*-------------------------
  グローバル
-------------------------*/
.gl-header {
  background: blue;
}

footer {
  color: #333;
  width: 100%;
  background-color: #08f;
}
/*-------------------------
  初期化
-------------------------*/

a {
  text-decoration: none;
}

/*-------------------------
  top
-------------------------*/
.gl-header a {
  color: red;
}

.carousel-inner h2{
  color: blue;
}


.carousel-inner img {
  height: 600px;
}
