@charset "UTF-8";

/*-------------------------
  初期化
-------------------------*/

a {
  text-decoration: none;
}

/*-------------------------
  グローバル
-------------------------*/
footer {
  color: #333;
  width: 100%;
  background-color: #08f;
}
